{% extends 'base.html' %}
 

{% block content %}
    <h1>{% block title %} Add a New Post {% endblock %}</h1>
    <form method="post">
        <p>Please select your mood at the start of the vent:</p>
        <input type="radio" name="imood" value="1">
        <label for="mood1">1 😖</label>
        <input type="radio" name="imood" value="2">
        <label for="mood1">2 😕</label>       
         <input type="radio" name="imood" value="3">
        <label for="mood1">3 😑</label>       
        <input type="radio" name="imood" value="4">
        <label for="mood1">4 😏</label>        
        <input type="radio" name="imood" value="5">
        <label for="mood1">5 😃</label>
        <br>
        <input type="text" name="title"
               placeholder="Post title"
               value="{{ request.form['title'] }}"></input>
        <br>

        <label for="content">Post Content</label>
        <br>
        <textarea id="create"
                name="content"
                placeholder="Post content"
                rows="15"
                cols="60"
                >{{ request.form['content'] }}</textarea>
        <br>
        <p>Please select your mood at the end of the vent:</p>
        <input type="radio" id="mood1" name="pmood" value="1">
        <label for="mood1">1 😖</label>
        <input type="radio" id="mood2" name="pmood" value="2">
        <label for="mood2">2 😕</label>       
         <input type="radio" id="mood3" name="pmood" value="3">
        <label for="mood3">3 😑</label>       
        <input type="radio" id="mood4" name="pmood" value="4">
        <label for="mood4">4 😏</label>        
        <input type="radio" id="mood5" name="pmood" value="5">
        <label for="mood5">5 😃</label>
        <br>
        <button type="submit">Submit</button>
    </form>
{% endblock %}
