{% extends 'base.html' %}

{% block content %}
<container>
    <h1>{% block title %} Edit "{{ post['title'] }}" {% endblock %}</h1>
    
    <form method="post">
        <h3>You're initial mood score was {{ post['init_mood'] }}</h3>
        <p>Please select your mood at the start of the vent:</p>
        <input type="radio" name="imood" value="1">
        <label for="mood1">1 😖</label>
        <input type="radio" name="imood" value="2">
        <label for="mood1">2 😕</label>       
         <input type="radio" name="imood" value="3">
        <label for="mood1">3 😑</label>       
        <input type="radio" name="imood" value="4">
        <label for="mood1">4 😏</label>        
        <input type="radio" name="imood" value="5">
        <label for="mood1">5 😃</label>
        <br>
        <label for="title">Title</label>
        <br>
        <input type="text" name="title"
               placeholder="Post title"
               value="{{ request.form['title'] or post['title'] 
}}"></input>
        <br>

        <label for="content">Post Content</label>
        <br>
        <textarea name="content"
                  placeholder="Post content"
                  rows="15"
                  cols="60"
                  >{{ request.form['content'] or post['content'] 
}}</textarea>
        <br>
        <h3>You're mood score after writing was recorded as {{ 
post['final_mood'] }}</h3>
        <p>Please select your mood at the end of the vent:</p>
        <input type="radio" name="pmood" value="1">
        <label for="mood1">1 😖</label>
        <input type="radio" name="pmood" value="2">
        <label for="mood1">2 😕</label>       
        <input type="radio" name="pmood" value="3">
        <label for="mood1">3 😑</label>       
        <input type="radio" name="pmood" value="4">
        <label for="mood1">4 😏</label>        
        <input type="radio" name="pmood" value="5">
        <label for="mood1">5 😃</label>
        </p>
        <br>
        <button type="submit">Submit</button>
    </form>

    <hr>

</container>
{% endblock %}
