{% extends 'base.html' %}

{% block content %}
<container>
<!-- Pagination Links-->
<div class="text-right">
    <a href="{{ url_for('main.journal', page=posts.prev_num) }}"
    class="btn btn-outline-dark 
    {% if posts.page == 1 %}disabled{% endif %}">
        &laquo;
    </a>
<!-- Loop through the number of pages to display a link for each-->
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, 
left_current=1, right_current=2) %}
{% if page_num %}
<!-- Check for the active page and set the link to "Active"-->
            {% if posts.page == page_num %}
            <a href="{{ url_for('main.journal', page=page_num) }}"
            class="btn btn-dark">
                {{ page_num }}
            </a>
            {% else %}
            <a href="{{ url_for('main.journal', page=page_num) }}"
            class="btn btn-outline-dark">
                {{ page_num }}
            </a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
    <a href="{{ url_for('main.journal', page=posts.next_num) }}"
    class="btn btn-outline-dark 
    {% if posts.page == posts.pages %}disabled{% endif %}">
        &raquo;
    </a>
</div>
<p class="text-right mt-3">
Showing page {{ posts.page }} of {{ posts.pages }}
</p>

<div class = "scene">
<div class="cube">
    <div class="cube__face cube__face--1">inhale</div>
    <div class="cube__face cube__face--2">hold</div>
    <div class="cube__face cube__face--3">exhale</div>
    <div class="cube__face cube__face--4">smile</div>
    <div class="cube__face cube__face--5">pause</div>
    <div class="cube__face cube__face--6">reflect</div>
</div>

<button class = "rollBtn">Roll the Dice</button>
</div>
    <button onclick="toggle_display('#content_section')">Toggle 
display</button>
    <div id="content_section">
    <!-- <button type="button" onclick="show">hide this</button> -->
    {% for post in posts.items %}
        <p class="{{ post['title']}} vent" 
onclick="{{'toggle_display(\'#postno' + post['id']|string + '\')' }}" >{{ 
post['title'] }}
            <!-- <button class="{{ post['title']}}" 
onclick="{{'toggle_display(\'#postno' + post['id']|string + '\')' }}" >{{ 
post['title'] }}</button> -->
            <div class='entry' id="{{ 'postno' + post['id']|string }}" 
display="none">
                <p class="created">{{ post['created'] }}</p>
                <h2>{{ post['title'] }}</h2>
                <p><span class="formatted_post">{{ post['content'] 
}}</span></p>
                <a href="{{ url_for('main.edit', id=post['id']) }}">Edit</a>
            </div>
        </p> 
    {% endfor %}
    </div>


    <div class="table-responsive">
        <table class="table table-sm table-borderless mb-0">
            <thead class="thead-dark">
                <tr>
                    <!-- <th>S/N</th> -->
                    <th>Mood before writing [1-5 fabulous]</th>
                    <!-- <th> / </th> -->
                    <th>Mood after writing [1-5 fabulous]</th>
                    <th>Date Created</th>
                    <th></th>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts.items %}
                <tr>
                    <!-- <th scope="row">{{ loop.index }}</th> -->
                    <td>{{ post.init_mood }}</td>
                    <!-- <td> / </td> -->
                    <td>{{ post.final_mood }}</td>
                    <td>{{ post.created }}</td>
                    <td>:</td>
                    <td>{{ post.title }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</container>
{% endblock %}


