<!-- {% extends 'base.html' %}

{% block content %}
<container>

    <div class = "scene">
    <div class="cube">
        <div class="cube__face cube__face--1">work</div>
        <div class="cube__face cube__face--2">school</div>
        <div class="cube__face cube__face--3">breathe</div>
        <div class="cube__face cube__face--4">write</div>
        <div class="cube__face cube__face--5">café</div>
        <div class="cube__face cube__face--6">meetup</div>
    </div>
    
    <button class = "rollBtn">What to Do</button>
    </div>

</container>
{% endblock %} -->