{% extends 'base.html' %}

{% block content %}
<script src="audio_scripts.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

<h1>Speed up the vent by speaking!</h1>

<!-- ### korre des! -->
<button id="mic" style="font-size:24px"> <i class="fa fa-microphone">&#128512; &#127908; Speak!</i></button>


<container class="text-box">
    <paragraph>
        <p>
            <i class="fa fa-microphone">&#127908;</i>
        </p>
    </paragraph>
</container>
{% endblock %}



<!-- speechSynthesis.getVoices() -->